nav{
    background-color: goldenrod;
    position: fixed;
    width: 100%;
    top: 0px;
}
footer{
    bottom: 0px;
    background-color: goldenrod;
    position: fixed;
    width: 100%;
    text-align: center;
}
#tape{
    margin-top: 35px;
}
div{
    padding: 15px;
    background-color: beige;
}
.card{
    width: 150px;
    background-color: goldenrod;
    border: 1px solid coral;
    border-radius: 20px;
    padding: 20px;
    color: white;
    box-shadow: 5px 5px 5px rgb(27, 23, 23);
}
.card h2 {
    text-align: left;
    font-weight: bold;
}
.food {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    width: 100%;
}

.picc{
    display: inline;
    margin: 0 auto;
    width: 500px;
}
header{
    margin-top: 200px;
}
.pool{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    width: 100%;
}